* {
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
}

.container {
  background-color: #fff;
  border: 5px;
  width: 450px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
  margin: auto;
  text-align: center;
  padding: 10px;
}
h2 {
  color: tomato;
  text-transform: capitalize;
  padding: 20px 0;
}
