* {
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
}
:root {
  --success-color: rgb(45, 228, 45);
  --error-color: rgb(230, 25, 25);
}

.container {
  background-color: #fff;
  border: 5px;
  width: 450px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
  margin: auto;
  text-align: center;
  padding: 10px;
}
h2 {
  color: tomato;
  text-transform: capitalize;
  padding: 20px 0;
}
.from-control {
  padding: 20px;
  position: relative;
}
.from-control label {
  color: #777;
  display: block;
  margin-bottom: 5px;
  text-align: justify;
  margin-bottom: 5px;
  text-transform: capitalize;
}
.from-control input {
  border: 2px solid #f0f0f0;
  border-radius: 5px;
  padding: 10px;
  width: 90%;
  font-size: 16px;
}
.from-control input:focus {
  border-color: #777;
  outline: none;
}

.from-control.success {
  border-color: var(--success-color);
}
.from-control.error {
  border-color: var(--error-color);
}
.from-control small {
  color: var(--error-color);
  position: absolute;
  bottom: 0;
  left: 42px;
  visibility: hidden;
}

.btn {
  background-color: cornflowerblue;
  color: #fff;
  padding: 15px;
  cursor: pointer;
  border: 4px solid rgb(0, 192, 218);
  border-radius: 5px;
  width: 300px;
  margin-bottom: 10px;
  margin: 10px auto;
}
